<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/profile-edit.css">

    
</head>
<body>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/profile/edit">Edit Profile</a></li>
        </ol>
      </nav>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="<%-img%>"><span class="font-weight-bold"><%=fname%></span><span class="text-black-50"><%=fname%></span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text" disabled="true"class="form-control" placeholder="First Name" value="<%=fname%>"></div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text" disabled="true"class="form-control" value="<%=lname%>" placeholder="Last Name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email</label><input type="text"  disabled="true"class="form-control" placeholder="Email" value="<%=email%>"></div>
                        <div class="col-md-12"><label class="labels">New Password</label><input type="password" class="form-control" placeholder="Password" value=""></div>
                        <div class="col-md-12"><label class="labels">Comfirm Password</label><input type="password" class="form-control" placeholder="Confirm Password" value=""></div>
                        <div class="col-md-12"><label class="labels">University</label><input type="text" class="form-control" placeholder="University" value="<%=college.name.stringValue%>"></div>
                        <div class="col-md-12"><label class="labels">Major</label><input type="text" class="form-control" placeholder="Major" value="<%=college.major.stringValue%>"></div>
                        
                        <% if(social){ %>
                            <div class="col-md-12"><label class="labels">Social Media</label><input type="text" class="form-control" placeholder="Facebook" value="<%=social.facebook.stringValue%>"></div>
                            <div class="col-md-12"><label class="labels"></label><input type="link" class="form-control" placeholder="Twitter" value="<%=social.twitter.stringValue%>"></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" placeholder="Linkedin" value="<%=social.linkedin.stringValue%>"></div>
                          <% } else{ %>  
                            <div class="col-md-12"><label class="labels">Social Media</label><input type="text" class="form-control" placeholder="Facebook" value=""></div>
                            <div class="col-md-12"><label class="labels"></label><input type="link" class="form-control" placeholder="Twitter" value=""></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" placeholder="Linkedin" value=""></div>
                          
                            <% } %>
                      </div>
                    <!-- <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div> -->
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Account Setting</span></div><br>
                    
                  
                    <div class="col-md-12"><label class="labels">Pause </label><input type="radio" class="form-control" placeholder="experience" value=""></div> <br>
            
                </div>
               
            </div>
        </div>
    </div>
    </div>
    </div>

</body>
</html>